<!--格言-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
    <div class="widget-wrap" th:fragment="aphorism">
        <h3 class="follow">与君共勉</h3>
        <div class="widget">
            <div class="card-front animated col s12 m12 l8 offset-l2 fadeInUp bg-aphorism">
                <p class="bg-danger">
                    Talk is cheap. Show me the code.<br>
                    <br>
                    译文:空谈是不值钱的。给我看你的源码就好。<br>
                    <span class="aphorism-author"> -Linus Torvalds</span>
                    <br>
                </p>


            </div>
        </div>
    </div>
</body>
</html>