<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
    <div class="widget-wrap" th:fragment="label-info">
        <h3 class="follow">标签云</h3>
        <div class="widget tagcloud">
            <a class="label label-red" href="/tags/log4j/" style="font-size: 11.67px;">log4j</a>
            <a href="" style="font-size: 10px;">mongodb</a>
            <a href="" style="font-size: 10px;">redis</a>
            <a href="" style="font-size: 11.67px;">spring-boot-actuator</a>
        </div>
    </div>
</body>
</html>