
<!--微信公众号二维码-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
    <div class="inner profile-inner" th:fragment="wechat_info">
        <div class="widget-wrap widget-list">
            <div class="widget">
                <!--联系合作-->
                <h3 class="follow">微信公众号</h3>
                <div class="widget">
                    <img style="width: 95%;" src="/image/erweima.jpg" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>