<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="blog/part/head :: head"></head>

<body>
<div id="container">
    <header id="header" th:replace="blog/part/header :: header">
    </header>
    <div class="outer">

        <aside id="profile">
            <!--个人基础信息-->
            <div class="inner profile-inner" th:replace="blog/part/base-of-me :: base_of_me"></div>
            <!--友情链接-->
            <div class="inner profile-inner" th:replace="blog/part/friend-link :: friend_link"></div>
            <!--微信公众号信息-->
            <div class="inner profile-inner" th:replace="blog/part/wechat-info :: wechat_info"></div>
        </aside>

        <section id="main">
            <article th:each="article : ${articleList}" th:id="'/article/details/'+${article.id}" class="article article-type-post" itemscope itemprop="blogPost">
                <div class="article-inner">


                    <header class="article-header">


                        <h1 itemprop="name">
                            <a class="article-title" th:href="'/article/details/'+${article.id}" th:text="${article.title}"></a>
                        </h1>



                        <div class="article-meta">

                            <div class="article-date">
                                <i class="fa fa-calendar"></i>
                                <a th:href="'/article/details/'+${article.id}">
                                    <time datetime="2017-04-03" itemprop="datePublished" th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}"></time>
                                </a>
                            </div>



                            <div class="article-category" style="text-transform: none;">
                                <i class="fa fa-folder"></i>
                                <!--th:href="'/category/details/'+${articleList.categoryId}"-->
                                <a class="article-category-link" th:onclick="'loadCategory('+${article.categoryId}+')'"  th:text="${article.categoryName}" style="cursor: pointer"></a>
                            </div>

                            <div class="share-container" style="text-transform: none;" th:each="tag : ${article.tagList}">
                                <i class="fa fa-tag"></i>
                                <!--th:href="'/tag/details/'+${tagListStat.tagId}"-->
                                <a class="tag-link" th:onclick="'loadTag('+${tag.tagId}+')'"  th:text="${tag.tagName}" style="cursor: pointer"></a>
                            </div>
                        </div>

                    </header>


                    <div class="article-entry" itemprop="articleBody" th:text="${article.description}">

                    </div>
                    <div class="article-more">
                        <p class="article-more-link">
                            <!--th:href="'/article/details/'+${articleList.id}"-->
                            <a title=" 查看更多 " class="read-more" th:href="'/article/details/'+${article.id}" style="cursor: pointer">查看更多</a>
                        </p>
                    </div>
                    <footer class="article-footer">
                        <div id="socialShare" class="socialShare"></div>
                    </footer>
                </div>
            </article>
        </section>

        <aside id="sidebar">

            <!--每日一言-->
            <div class="widget-wrap" th:replace="blog/part/aphorism :: aphorism"></div>
            <!--文章分类-->
            <div class="widget-wrap" th:replace="blog/part/classification ::classification"></div>

            <div class="widget-wrap" th:replace="blog/part/label-info :: label-info"></div>

            <div id="toTop" class="fa fa-angle-up"></div>
        </aside>

    </div>
    <footer id="footer" th:replace="blog/part/footer :: footer"></footer>

    <script src="/js/jquery.min.js"></script>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script src="/js/share.js"></script>

    <script src="/js/tctip-1.0.3.min.js"></script>
    <script>
        new tctip({
            top: '20%',
            button: {
                id: 9,
                type: 'dashang',
            },
            list: [
                {
                    type: 'alipay',
                    qrImg: '/image/alipay.jpg'
                }, {
                    type: 'wechat',
                    qrImg: '/image/wechat.jpg'
                }, {
                    type: 'bitcoin',
                    qrContent: '1PhQySHF1ZuoRwoZ8G4CDLEtE6fAnD3GJP'
                }
            ]
        }).init()
    </script>
</div>

</body>
</html>