<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
    <tr>
        <th>Id</th>
        <th>名称</th>
        <th>别名</th>
        <th>排序</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>

    <tr class="gradeX" th:each="category : ${categoryList}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.categoryName}"></td>
        <td th:text="${category.aliasName}"></td>
        <td th:text="${category.sort}"></td>
        <td th:data-id="${category.id}">
            <button  type="button" class="btn btn-primary btn-xs category-edit" title="编辑">
                编辑
            </button>
            <button class="btn btn-danger btn-xs category-delete" type="button" title="删除">
                删除
            </button>

        </td>
    </tr>


    </tbody>
</table>
</html>